[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "~=3.6.0"

[packages]
Quart = "==0.7.1"
python-rapidjson = "*"
pafy = "*"
python-vlc = "*"
youtube-dl = "*"
uvicorn = "*"
hypercorn = "*"

[requires]
python_version = "3.7"
